body {
    background-color: #f8f8f8
}

header {
    height: 1rem;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    z-index: 2;
}

header div {
    width: 33.333%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 1rem;
    line-height: 1rem;
    float: left;
    text-align: center;
    color: #9E9E9E;
}

.active {
    color: rgb(211, 162, 124);
    border-bottom: 3px solid;
}

.message {
    margin-top: 3px;
    height: 1.3rem;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding-top: .3rem
}

.message div {
    width: 33.333%;
    height: 1rem;
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.br {
    border-right: 1px solid rgb(221, 221, 221);
}

i {
    font-style: normal;
}

.imgUrl {
    width: .75rem;
    height: .75rem;
    border-radius: 50%;
    margin-bottom: 8px;
}

.label {
    font-family: PingFangSC-Regular;
    font-size: .24rem;
    color: #888888;
    line-height: .24rem;
}

.value {
    font-family: DINCondensed-Bold;
    font-size: .5rem;
    color: rgb(83, 83, 83);
    line-height: .5rem;
    margin-top: .2rem
}

.premium::after {
    font-size: .25rem
}

.premium::before {
    content: '¥';
    font-size: .25rem
}

#members {
    background-color: #f8f8f8;
}

.member {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 0.4rem .3rem .2rem .3rem;
    box-sizing: border-box;
    margin-top: .23rem;
}

.member p {
    font-family: PingFangSC-Regular;
    font-size: 0;
    color: #9e9e9e;
    margin: 0;
}

.member span {
    font-size: .3rem;
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    padding-left: .5rem;
    line-height: .55rem;
    background-repeat: no-repeat;
    background-position: left center;
}

.member span.name {
    font-family: PingFangSC-Medium;
    font-weight: bold;
    font-size: .4rem;
    color: #263238;
    width: auto;
    padding: 0;
}

.name ~ img {
    margin-left: .2rem;
}

.tel {
    background-image: url("../../images/ico_dianhua.png");
}

.birthday {
    background-image: url("../../images/ico_shengri.png");
}

.carNo {
    background-image: url("../../images/icon_car.png");
}

.eDate {
    background-image: url("../../images/ico_zhongbao.png");
}

.search{
    position: absolute;
    right: .2rem;
    bottom: .2rem;
    z-index: 3;
}

.query{
    position: absolute;
    background-color: #fff;
    margin-top: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}