body {
  background-color: #f8f8f8
}
header{
	text-align: center;
	padding: 1.28rem 0;
	background-color: #2a2a2a;
	line-height: 1;
}
.fuwuImg{
	width: 1.04rem;
}
.bdyz{
	display: block;
	font-size: .28rem;
	color: #fff;
}
.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    padding: 0 .24rem;
    background-color: #fff;
    -webkit-align-items: flex-start;
    -webkit-justify-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    
}
.content .box{
  width: calc((100vw - .48rem) / 3);
  height: calc((100vw - .48rem) / 3);
  box-sizing: border-box;
  display: flex;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-decoration: none;
}
.content .box {
  border-bottom: 1px solid rgb(245, 245, 245);
  border-right: 1px solid rgb(245, 245, 245);
}
.content .box:nth-child(3n){
	border-right: none;
}
.content .box img:nth-child(1) {
  width: 37.77%;
  height: 37.77%
}
.content .box i:nth-child(2) {
  font-family: .PingFangSC-Regular;
	font-size: 0.28rem;
	color: #1b1a1f;
	letter-spacing: 0;
  margin-top: .24rem;
  font-style: normal;
}
.tbb:after {
  content: 'W';
  font-size: .25rem
}
.tbb::before {
  content: '¥';
  font-size: .25rem
}
#colorDDD {
  color: #ddd
}
.timeOut {
  opacity: .5
}
