* {
	margin: 0;
	padding: 0;
}

body,
.content {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.list {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0.2rem;
}

.address {
	position: relative;
	background: #fff;
	box-sizing: border-box;
	padding-left: 0.32rem;
	padding-top: .4rem;
	padding-bottom: .4rem;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.10);
	border-radius: 6px;
}
.address h6 {
	font-family: .PingFangSC-Medium;
	letter-spacing: 0;
	font-style: normal;
	font-size: .28rem;
	color: #424242;
	margin-bottom: .32rem;
}

.address p {
	font-family: .PingFangSC-Regular;
	font-size: .28rem;
	line-height: .28rem;
	color: #888;
	letter-spacing: 0;
	margin-top: .3rem;
	margin-bottom: 0;
}
.address p a{
	color: #a3ccff;
	text-decoration: none;
}
.address p span:first-child {
	display: inline-block;
	padding-left: .48rem;
}

.address p span.dizhi {
	background: url(../../images/ico_dizhi.png) no-repeat left center;
	background-size: .48rem;
}

.address p span.dianhua {
	background: url(../../images/ico_tel.png) no-repeat left center;
	background-size: .48rem;
}
