img {
    display: block;
}

.erweima {
    /* margin-top: 1rem; */
    /* margin-left: 1.35rem; */
    width: calc(100% - 2.7rem);
    height: 4.8rem;
    padding-top: 1.4rem;
    margin: 0 auto;
}
p{
	font-size: .28rem;
	text-align: center;
}
