body {
    margin: 0;
}

.section {
    display: block;
    width: calc(100% - .36rem);
    margin: .18rem;
    padding: .5rem .25rem;
    text-align: center;
    line-height: 1;
    box-sizing: border-box;
}

.section.flex {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    padding: .15rem 0;
}

.section img {
    display: block;
    width: 2rem;
    margin: auto;
}

.section div {
    font-family: PingFangSC-Regular;
    font-size: .3rem;
    color: #383735;
    letter-spacing: 0.75px;
    margin-top: .38rem;
}

.section div.product {
    font-family: PingFangSC-Regular;
    font-weight: bold;
    margin-top: .32rem;
}

.section div.quotation {
    background-color: #E9E9E9;;
    color: #6A6A6A;
    margin-top: .4rem;
    padding: .15rem 0;
    line-height: .5rem;
    height: 100%;
}

.section div.quotation p {
    margin: 0;
}

.section div.tips {
    font-size: .28rem;
    color: #828282;
    margin-top: .1rem;
    line-height: 1.3;
    padding-left: .2rem;
    padding-right: .2rem;
    text-align: left;
}

.btn {
    width: 3.3rem;
    height: 1.07rem;
}

.wechat {
    background: url("../../images/button_wechat.png") no-repeat center;
}

.wo {
    background: url("../../images/button_wo.png") no-repeat center;
}

.title {
    display: block;
    font-size: 30px;
    color: #242424;
    letter-spacing: -0.72px;
    margin-top: .4rem;
}